html{
  margin: 0 auto;
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
}
body{
  margin-top:1%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 130%;
  /*border-style: solid;
  border-width: 1px;*/
  background-color:  #f2f3f4 ;
}

header, footer{
  margin-top:1%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 15%;

}

#cab_izq{
  float:left;
  height: 100%;
  width: 20%;
}

#logo{
  width: 100%;
  height:100%;
}

#cab_der{
  /*margin-left: 5%;*/
  float:left;
  height: 100%;
  width: 80%;
}

#cab_titulo{
  /*margin-left: 5%;*/
  /*padding-top: 1%;*/
  width: 100%;
  height: 75%;
  background-image:url(../img/cab_titulo.png);
}

#titulo{
  padding-top: 1%;
  padding-left: 20%;
  /*margin: 0;*/
  width: 100%;
  float:left;
  color: #dbc4c5;
  font-size: 1.5em;
  /*font-size: 4vh;*/
}
#identificador{
 /*position:relative;*/
 float:right;
 font-size:0.68em;
 margin-top:-8%;
 margin-right:1%;
 background-color: #8A0808;
 height:93%;
 width:20%;
 text-align:right;
 color:white;
 border:solid;
 border-width: 1px;
 border-color: #dbc4c5; 
 /*min-width:100px;*/
}

#identificador input{
 width:80%;
 float:right;
 margin-right:0.5em;
 text-align:right;
}
#identificador h4 {
 text-align:center;
}
#identificador h5{
 text-decoration:none;
 color:white;
 margin-right:2%;

}
#identificador span{
 margin-right:0.5em;
 color:red;

}

#cab_menu{
  /*margin-left: 5%;*/
  width: 100%;
  height: 25%;
  background-image:url(../img/cab_menu.png);
}

#menu_princ{
  width: 100%;
  height: 100%;
  padding-top: 1%;
}

#menu_sec{
  padding: 0%;
  margin: 0%;
}
#menu_lista{
  display: inline;
  padding-left: 2%;
  padding-right: 7%;
  /*border:1px solid black;*/

}

#menu_lista a{
  text-decoration: none;
  color: #dbc4c5;
}

#menu_lista a:hover{
	color: white;
}
/*      CONTENIDO       */
#contenido{
    height:60%;
    /*min-height: 60%;*/
    width:90%;
    margin-top:1%;
    margin-left: auto;
    margin-right: auto;

}
#barra_lateral{
    float:left;
    width:20%;
    height:120%;
    background-image: url(../img/cuerpo.png);
    background-repeat: repeat-y;
}
#contenido_princ{
    float:left;
    background-image: url(../img/cuerpo.png);
    background-repeat: repeat-y;
    width:79%;
    margin-left: 1%;
    height:120%;

}

/*      FOOTER      */

#foo_izq{
    float:left;
    height:100%;
    width:20%;
    background-image: url(../img/logo.png);

}
/*#foo_lista {
  list-style: none;
}
#foo_lista a{
  text-decoration: none;
  color: #dbc4c5;
}

#foo_lista a:hover{
	color: white;
}*/

#foo_der{
    float:left;
    height:100%;
    width:80%;

}
#foo_titulo{
    width:100%;
    height:75%;
    background-image:url(../img/foot_titulo.png);
}

#foot_titulo{
  padding-top: 1%;
  padding-left: 15%;

  width: 100%;
  float:left;
  color: #dbc4c5;
  /*font-size: 3vw;
  font-size: 4vh;*/
}
#foo_menu{
    padding-top: 0%;
    width:100%;
    height:25%;
    background-image:url(../img/cab_menu.png);
}

#copyright{
  margin:0;
  padding-left: 30%;
  color: #dbc4c5;
}
/*INDEX*/
.imag{
    float:left;
    width:29%;
    height:29%;
    padding:1%;

}
.pr{
    width:90%;
    height:90%;
}
/*INDEX*/

/*------------------------------------------------------OBRA-------------------------------------------------------------------------------*/

#info_obra{
  width: 50%;
  height: 30%;
  padding-top: 1%;
  float: left;
  /*border:1px solid black;*/
}

#tit_obra{
  padding:2%;
  margin: 0%;
  width: 70%;
  float:left;
  /*border:1px solid black;*/
}

#aut_obra{
  padding:2%;
  margin: 0%;
  width: 100%;
  float:left;
  /*border:1px solid black;*/
}

.dat_obra{
  padding:2%;
  margin: 0%;
  width: 100%;
  font-size: 1em;
  float:left;
  /*border:1px solid black;*/
}

#fotos_obra{
  margin-left: 0%;
  width: 30%;
  height: 60%;
  float:right;
  /*border:1px solid black;*/
}

.f_obra{
  width: 80%;
  height: 40%;
  margin-top: 2%;
  float:left;
  /*border:1px solid black;*/
}

#des_obra{

  margin-top: 17%;
  width: 90%;
  height: 65%;
  padding-left: 1%;
  /*border:1px solid black;*/
}

#texto{
    padding-top: 10%;
    text-align: justify;
  font-size: 0.95em;
}

#galeria{

    position: absolute;
    top: 800px;
    width: 600px;
}
/*------------------------------------------------------OBRA-------------------------------------------------------------------------------*/

/*   COMENTARIOS JS   */

#abs_comentario{
  visibility: hidden;
  position: absolute;
  top: 650px;
  width: 900px;
}
#form_comentario{
    width:30%;
    height: 80%;
    float: left;
}

#comentarios{
  width: 40%;
  height: 150px;
  overflow: scroll;
  float: right;
  border:1px solid black;

}
#com{
    width:300px;
    resize:none;
}

/* -------------------*/



/*      RESPONSIVE      */
@media  (max-width:727px){
  html{
       width:auto;
       margin: 0 auto;
   }
 body {
   width:600px; /*The width is 100%, when the viewport is 800px or smaller*/
   margin: 0 auto;
 }
 #barra_lateral li{
   margin-left: -30px;
     font-size: 0.9em;
 }
 #contenido{
     width: 800px;
 }
 #info_obra img{
   margin-left:  -5px;
   width: 20px;
   height: 20px;
 }
 #tit_obra, #aut_obra, #dat_obra{
   font-size: 1em;
 }
 #titulo, #foo_titulo{
   font-size: 0.9em;
 }
 #texto{
   font-size: 0.65em;
 }
   #barra_lateral{
       margin-left: 29px;
       width: 100px;
   }
   #contenido_princ{
       width: 437px
   }
   li{
       list-style: none;
   }
.listas{

   margin-left: -10px;
   font-size:15px;
}
}
@media (min-width:728px) and (max-width:1023px) {
    html{
        width: auto;
    }
  body {
    width:800px; /*The width is 100%, when the viewport is 800px or smaller*/
    /*height: 800px;*/
  }
  #titulo, #foo_titulo{
    font-size: 0.9em;
  }
  #contenido{
      width: 800px;
      /*height:1200px;*/
  }
  #info_obra{
    height: 130px;
  }
  #info_obra img{
    margin-left:  -5px;
    width: 20px;
    height: 20px;
  }
  #tit_obra, #aut_obra, #dat_obra{
    font-size: 1em;
  }
  #texto{
    font-size: 0.7em;
  }
    #barra_lateral{
        margin-left: 40px;
        width: 120px;
        font-size: 0.9em;
    }
    #contenido_princ{
        width: 610px
    }
    #fotos_obra{
      width: 180px;
      height: 210px;
    }
    li{
        list-style: none;
    }
    .listas{

        margin-left: -10px;
        font-size:15px;
    }

} /*Fin MEdia 728px*/


@media (min-width:1024px) and (max-width:1200px) {
    html{
        width: auto;

    }
  body {
    width:1023px; /*The width is 100%, when the viewport is 800px or smaller*/
  }
  #contenido{
      width: 920px;
  }
  #info_obra img{
    margin-left:  -5px;
    width: 20px;
    height: 20px;
  }
    #barra_lateral{

        width: 150px;
    }
    #contenido_princ{
        padding-left: 20px;
        width: 740px;
    }
    li{
        list-style: none;
    }
  .listas{


      font-size:15px;
  }
  #texto{
    font-size: 0.8em;
  }
} /*Fin media 1023px*/

@media (min-width:1201px) and (max-width:1600px) {
  html{
      width: auto;

  }
body {
  width:1023px; /*The width is 100%, when the viewport is 800px or smaller*/
}
#contenido{
    width: 920px;
}
#info_obra img{
  margin-left:  -5px;
  width: 20px;
  height: 20px;
}
  #barra_lateral{

      width: 150px;
  }
  #contenido_princ{
      padding-left: 20px;
      width: 740px;
  }
  li{
      list-style: none;
  }
.listas{


    font-size:15px;
}
#texto{
  font-size: 0.9em;
}
} /*Fin media 1023px*/
}
